body {
    background : rgb(84, 84, 255);
    font: normal 14pt Arial, sans-serif;

}

header {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.438);
    img {

  border-radius: 50%;

  width: 150px;

  height: 150px;

}
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
